*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(80, 78, 59);
    text-align: center;
}
.main h1{
    color: #f6ff00;
    margin-top: 1em;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0.1em;
    font-family:sans-serif;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10%;
    background-color: rgb(254, 236, 215);
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 7vmin;
    color: rgb(122, 6, 97);
}

.resetBtn{
    height: 3rem;
    width: 7rem;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    color: rgb(254, 236, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#newGamebtn{
    height: 2.5rem;
    width: 7rem;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    color: rgb(254, 236, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#newGamebtn2{
    height: 2.5rem;
    width: 7rem;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    color: rgb(254, 236, 215);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.msg{
    color: rgb(4, 105, 95);
    font-size: 8vmin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}
